<div class="uk-card-small uk-card-default uk-card-body uk-width-1-4@m uk-text-center">

    <h3 class="uk-card-title">Name</h3>
        <p> John Doe </p>

    <h3 class="uk-card-title">Project Description</h3>
        <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <h3 class="uk-card-title">Group Limit</h3>

    <a class="uk-padding" href="" uk-icon="icon: star; ratio: 2" uk-tooltip="title: Star for Later; pos: bottom"> </a>

    <a class="uk-padding" href="" uk-icon="icon: commenting; ratio: 2" uk-tooltip="title: Send Message; pos: bottom"> </a>


</div>