<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<link rel="stylesheet" href="/assets/uikit/css/uikit.min.css" />
	<title>Ideas Realized!</title>
	<script src="/assets/uikit/js/uikit.min.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/uikit/js/uikit-icons.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
</head>

<body>
	<div></div>
	{{{ body }}}
</body>

</html>
