<!DOCTYPE html>
<html>
    <head>
        <title>Project 2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/uikit/css/uikit.min.css" />
        <script src="../assets/uikit/js/uikit.min.js"></script>
        <script src="../assets/js/script.js"></script>
        <script src="../assets/uikit/js/uikit-icons.min.js"></script>
    </head>
    <body>

    <header>

        <!-- NAVBAR -->
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                                <li class="uk-active"><a href="#">Create</a></li>
                                <li class="uk-active"><a href="#">Find</a></li>
                                <!-- Login target for modal -->
                                <li class="uk-active"><a href="#" uk-toggle="target: #login-modal">Login</a></li>
                                <!-- target for profile off canvas -->
                                <li>
                                        <a uk-toggle="target: #offcanvas-nav-primary">Profile</a>
                                    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; flip: true">
                                            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                                                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                                        
                                                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                                                    <li class="uk-active"><a href="#">View Profile</a></li>

                                                        <ul class="uk-nav-sub">
                                                            <li><a href="#">Sub item</a></li>
                                                            <li><a href="#">Sub item</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="uk-nav-header">Header</li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                                                    <li class="uk-nav-divider"></li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Logout</a></li>
                                                </ul>
                                        
                                            </div>
                                        </div>
                                        
                                        </ul>
                    </div>
            </nav>
            </div>
    </header>

<hr class="uk-grid-divider" style="margin-top: 0px">


<!-- MODAL for login -->

<div class="uk-modal"id="login-modal" uk-modal="center: true" style="text-align: center">
        <div class="uk-modal-dialog uk-modal-body ">
        <button class="uk-modal-close-full uk-close-large uk-vertical-align-middle" type="button" uk-close></button>
        <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                            <div class="uk-width-1-1@m">
                                <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                    <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                                        <li><a href="#">Sign Up</a></li>
                                        <li><a href="#">Log In</a></li>
                                        <li class="uk-hidden">Forgot Password?</li>
                                    </ul>
                                    <ul class="uk-switcher uk-margin">
                                        <li>
                                            <h3 class="uk-card-title uk-text-center">Sign up!</h3>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="First and last name">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                        <input class="uk-input uk-form-large" type="password" placeholder="Set a password">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                                    <label><input class="uk-checkbox" type="checkbox"> I agree the Terms and Conditions.</label>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    Already have an account? <a href="#" uk-switcher-item="1">Log in</a>
                                                </div>
                                            </form>
                                        </li>
                                        <li>
                                            <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                        <input class="uk-input uk-form-large" type="password" placeholder="Password">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin uk-text-right@s uk-text-center uk-text-small">
                                                    <a href="#" uk-switcher-item="2">Forgot Password?</a>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    Not registered? <a href="#" uk-switcher-item="0">Create an account</a>
                                                </div>
                                            </form>
                                        </li>
                                        <li>
                                            <h3 class="uk-card-title uk-text-center">Forgot your password?</h3>
                                            <p class="uk-text-center uk-width-medium@s uk-margin-auto">Enter your email address and we will send you a link to reset your password.</p>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Send Email</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    <a href="#" uk-switcher-item="1">Back to login</a>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- SLIDESHOW -->

<!-- div below sets min-height/max-height, animation, autoplay for slideshow and interval of 4s -->
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 200; max-height: 300; animation: push; autoplay: true;autoplay-interval: 4000">

        <ul class="uk-slideshow-items">
            <li>
              <img src="../assets/images/vector3.jpg" alt=""  uk-cover>
              <div class="uk-overlay uk-overlay uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Sign Up</h3>
                    <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </li>
            <li>
              <a src="#">
                <img src="../assets/images/vector1.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Create Projects</h3>
                        <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
              </a>
            </li>
            <li>
                <img src="../assets/images/vector2.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Contribute to Projects</h3>
                        <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
    </div>

    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin uk-text-center">
            <h3 class="uk-card-title">Default</h3>
            <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>











</body>
</div><!--/div#page-wrapper-->
<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div class="uk-container uk-padding-small">
        <p class="uk-text-small">copyright(c).</p>
    </div>
</footer><!--/footer#page-footer-->
</html>