<header>

        <!-- NAVBAR -->
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-left">
                            <a class="uk-active"><a href="#"><img class="uk-margin-left" src="../assets/images/science-icon.png" width="50" height="50" alt=""></a></li>
                            <a class="uk-navbar-item uk-logo" href="#" style="font-family: 'Tomorrow', sans-serif;font-size: 28px">theLab</a>
                    </div>

                    <div class="uk-navbar-right" >
                        <ul class="uk-navbar-nav">
                                <li class="uk-active"><a href="#" style="font-family: 'Tomorrow', sans-serif;">Create</a></li>
                                <li class="uk-active"><a href="#" style="font-family: 'Tomorrow', sans-serif;">Find</a></li>
                                <!-- Login target for modal -->
                                <li class="uk-active"><a href="#" uk-toggle="target: #login-modal" style="font-family: 'Tomorrow', sans-serif;">Login</a></li>
                                <!-- target for profile off canvas -->
                                <li>
                                        <a uk-toggle="target: #offcanvas-nav-primary" style="font-family: 'Tomorrow', sans-serif;">Profile</a>
                                    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; flip: true">
                                            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                                                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                                        
                                                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                                                        <ul class="uk-thumbnav uk-thumbnav-vertical" uk-margin>
                                                                <li class="uk-active"><a href="#"><img class="uk-border-circle" src="../assets/images/img-placeholder.png" width="50" alt=""></a></li>
                                                        </ul>
                                                    <li class="uk-active"><a href="profile.html">View Profile</a></li>

                                                        <ul class="uk-nav-sub">
                                                            <li><a href="#">Sub item</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="uk-nav-header">Header</li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                                                    <li class="uk-nav-divider"></li>
                                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Logout</a></li>
                                                </ul>
                                        
                                            </div>
                                        </div>
                                        
                                        </ul>
                    </div>
            </nav>
            </div>
    </header>

<hr class="uk-grid-divider" style="margin-top: 0px">


<!-- MODAL for login -->

<div class="uk-modal "id="login-modal" uk-modal="center: true" style="text-align: center" >
        <div class="uk-modal-dialog uk-modal-body uk-width-1-2">
        <button class="uk-modal-close-full uk-close-large uk-vertical-align-middle" type="button" uk-close></button>
        <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade uk-padding-remove">
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                            <div class="uk-width-1-1@m">
                                <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                    <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                                        <li><a href="#">Sign Up</a></li>
                                        <li><a href="#">Log In</a></li>
                                        <li class="uk-hidden">Forgot Password?</li>
                                    </ul>
                                    <ul class="uk-switcher uk-margin">
                                        <li>
                                            <h3 class="uk-card-title uk-text-center" style="font-family: 'Tomorrow', sans-serif;">Sign up!</h3>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                        <input class="uk-input uk-form-large uk-border-pill" type="text" placeholder="First and last name">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large uk-border-pill" type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                        <input class="uk-input uk-form-large uk-border-pill" type="password" placeholder="Set a password">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                                    <label><input class="uk-checkbox uk-border-circle" type="checkbox"> I agree the Terms and Conditions.</label>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-border-pill">Login</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    Already have an account? <a href="#" uk-switcher-item="1">Log in</a>
                                                </div>
                                            </form>
                                        </li>
                                        <li>
                                            <h3 class="uk-card-title uk-text-center" style="font-family: 'Tomorrow', sans-serif;">Welcome back!</h3>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large uk-border-pill" type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                        <input class="uk-input uk-form-large uk-border-pill" type="password" placeholder="Password">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin uk-text-right@s uk-text-center uk-text-small">
                                                    <a href="#" uk-switcher-item="2">Forgot Password?</a>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-border-pill">Login</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    Not registered? <a href="#" uk-switcher-item="0">Create an account</a>
                                                </div>
                                            </form>
                                        </li>
                                        <li>
                                            <h3 class="uk-card-title uk-text-center">Forgot your password?</h3>
                                            <p class="uk-text-center uk-width-medium@s uk-margin-auto">Enter your email address and we will send you a link to reset your password.</p>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large " type="text" placeholder="Email address">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Send Email</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    <a href="#" uk-switcher-item="1">Back to login</a>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>